html, body {
    margin: 0;
    padding: 0;
}

hr {
   
   color: ligtgrey;
}

header img {
    height: 34px;

}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid green;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}


